.cart{
    position: sticky;
    top: 0;
}

.person-information{
    margin: 10px 8px;
    background-color: white;
    border-radius: 10px;
}

.profile{
    margin: 40px 0px 10px 0px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    border-radius: 10px;
}

.profile img{
    width: 25%;
    border-radius: 50px;
}

.profile-text{
    line-height: 0.2;
}

.profile-text small{
    color: rgb(131, 133, 134);
}

.skills{
    margin-top: 10px;
    padding-bottom: 5px;
}

.skills p{
    margin-left: 7%;
    text-align:left;
    margin-top: 0px;
    margin-bottom: 2px;
    color: rgb(128, 127, 127);
}

.skill-set{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-set div{
    margin-top: 0px;
    font-size: 12px;
    background-color: aliceblue;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

.break-time{
    background-color: white;
    margin:1px 8px;
    border-radius: 10px;
}

.break-options{
    display: flex;
    justify-content: space-around;
    padding: 0px 5px 5px 5px;
}

.single-break{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #5CD2C3;
    border-radius: 50px;
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.single-break:hover{
    background-color: green;
    color: white;
}

.time-calculation{
    background-color: rgb(159, 207, 249);
    margin:10px 8px;
    border-radius: 10px;
    margin-top: 40px;
}

.time-calculation h3{
    margin: 0px;
    padding: 5px;
    color: tomato;
    font-weight: 700;
    text-align: start;
    margin-left: 15px;
    margin-top: 15px;
}

.timefield-container{
    padding-bottom: 10px;
}

.timefield{
    background-color:aliceblue;
    padding: 5px 20px;
    margin: 10px 10px;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    border-radius: ;
}

.timefield span{
    color: tomato;
    font-size: 18px;
}

.enrolledment-button{
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-weight: 600;
    font-size: 22px;
    border: none;
    margin: 5px 5px 10px 5px;
    width: 90%;
    padding: 15px 5px;
}

.enrolledment-button:hover{
    background-color: green;
}