.course{
    padding: 5px;
    width: 270px;
    height: 400px;
    background-color: white;
    position: relative;
    box-shadow: 5px 5px 5px #b6b5b5;
    text-align: start;
}

.course img{
    width: 100%;
    border-radius: 5px;
}

.course-info{
    padding: 10px;
}

.course-info h4{
    color: #efa803;
    font-weight: 700;
    margin: 0px;
}

.time-required{
    margin-top: 10px;
    color: green;
    font-weight: 600;    
}

.course-info small{
    color: rgb(117, 119, 117);
    font-size: 13px;
    line-height: 0.7;
}

.add-to-cart{
    border-radius: 0px;
    background-color: #5CD2C3;
    color: black;
    font-weight: 550;
    width: 100%;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
}
.add-to-cart:hover{
    background-color: green;
}