.container{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    margin: 0;
    padding: 0px;
}

.text-container{
    background-image: linear-gradient(to bottom right,#4B8773, #BCCBAC);
    display: flex;
    align-items: center;
    margin: 0px 5px 0px 50px;
}

.text-container img{
    width: 12%;
}

.text{
    margin-left: 30px;
}

.text h3{
    color: white;
    font-weight: 700;
}
.text p{
    margin: 0;
    font-weight: 500;
}

.course-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 20px 5px 10px 50px;
}
