.container{
    background-image: linear-gradient(to right,#d9f4bc, #79b39f);
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 0;
    padding: 0px;
    background-color: white;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.text-container img{
    width: 12%;
}

.text{
    margin: 0px;
    margin-left: 10px;
    text-align: start;
}

.text h2{
    color: white;
    font-weight: 700;
    margin: 0px;
}

.text p{
    margin: 0;
    font-weight: 500;
}

.h-line{
    margin: 10px;
}

.course-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 20px 5px 10px 50px;
}

.cart-container{
    border-top-left-radius: 70px 40px;
    margin-left: 20px; 
    background-image: radial-gradient(#5bbeb1,#DCF5FC);
}