.container{
    background-image: linear-gradient(to right,#d9f4bc, #79b39f);
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 0;
    padding: 0px;
    background-color: white;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.text-container img{
    /* width: 12%; */
    height: 80px;
    margin: 0;
}

.text{
    margin: 0px;
    margin-left: 10px;
    text-align: start;
}

.text h2{
    color: tomato;
    font-weight: 1000;
    margin: 0px;
}

.text p{
    margin: 0;
    font-weight: 500;
}

.h-line{
    margin: 0px;
}

.course-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 20px 5px 10px 50px;
}

.cart-container{
    border-top-left-radius: 70px 40px;
    margin-left: 20px; 
    background-image: radial-gradient(#5bbeb1,#DCF5FC);
}

/* small laptop responsive */
@media screen and (max-width:1238px) {
    .container{
        background-image: linear-gradient(to right,#d9f4bc, #79b39f);
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 0;
        padding: 0px;
        background-color: white;
    }

    .course-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin: 20px 5px 10px 50px;
    }
}

/* tablet responsive */
@media screen and (max-width:900px) {
    .container{
        background-image: linear-gradient(to right,#d9f4bc, #79b39f);
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 0;
        padding: 0px;
        background-color: white;
    }

    .course-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin: 20px 5px 10px 50px;
    }
}

/* mobile responsiveness  */
@media screen and (max-width:600px) {
    .container{
        background-image: linear-gradient(to right,#d9f4bc, #79b39f);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px 10px 2px 10px;
        padding: 0px;
        background-color: white;
        gap: 5px;
    }

    .course-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 2px 5px 2px 5px;
    }
}
